# Flutter-specific files
.dart_tool/
.idea/
.vscode/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.metadata
build/
ios/Flutter/.last_build_id

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# Logs and temporary files
*.log
*.tmp

# Other
.gradle/
local.properties
